html {
    background-color: white; 
}
.mega {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: baseline;
    justify-items: center;
    margin-top: 50px;
}

.section {
    justify-content: center;
    text-align: center;
    margin-top: -20px;
    border-radius: 25px;
    background-color: rgba(248, 245, 248, 0.774);
    box-shadow: plum;
    border-radius: 25px;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
    animation-iteration-count: infinite;
  }

h1 {
    font-family: 'Fascinate', cursive;
    text-align: center;
}

.fa-icon {
    font-size: 50px;
}

h2 {
    font-family: 'Fascinate', cursive;
}

ul {
    display: inline-block;
    border-radius: 25px;
    background-color: rgba(248, 245, 248, 0.774);
    box-shadow: plum;
    text-align: center;
    padding: 0;

}

li {
    text-align: center;
    list-style: none;
    font-family: 'Fira Code', monospace;
}


a, i {
    color: black;
    text-decoration: none;
    display: inline-block;
    font-family: 'Fira Code', monospace;
}

a:hover {
    color: pink;
}